@use '../../styles/variables' as *;

.registerStyle {
  article {
    padding: 5rem 25%;
    width: 100vw;
    // background-size: 100vw;
    text-align: center;
    background-color: $altwhite;
    margin-top: 0;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  width: 50%;
  margin: 0rem 25% 2rem 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h2 {
    font-family: $fontstack;
    text-align: center;
    font-weight: $regular;
  }
  label {
    font-family: $altfontstack;
  }
  input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
  }
  form {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input[type="submit"] {
    background-color: $main;
    color: $fullWhite;
    border-radius: 24px;
    font-family: $fontstack;
  }

  a {
    margin-top: 0.5rem;
    font-size: $dateText;
    color: $main;
    font-weight: $thin;
    align-self: flex-start;
    cursor: pointer;
  }
}
