@use '../../styles/variables' as *;

.newsitemStyle {
  width: 100%;
  // max-width: 356px;
  @include borderValues(1px, #00000033);
  background-color: $fullWhite;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  figcaption {
    padding: 0.5rem 1rem;
  }

  h3 {
    font-size: $regular;
    font-weight: $regularWeight;
  }

  img {
    height: 70%;
    object-fit: cover;
  }
  .date {
    color: $accent;
    font-size: $dateText;
  }
}
