@use '../../styles/variables' as *;

.paginationcontrolsStyle {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include borderValues(1px, #00000066);
  border-radius: 24px;
  padding: 0.75rem;

  button {
    background-color: $white;
    @include borderValues(1px, #00000066);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: $accent;
      color: $white;
    }

    @media (max-width: 600px) {
      width: 2.25rem;
      height: 2.25rem;
      font-size: 0.85rem;
    }

    @media (max-width: 400px) {
      width: 1.75rem;
      height: 1.75rem;
      font-size: 0.75rem;
    }
  }

  .arrow {
    border: 0;
    border-radius: 0;
    overflow: hidden;
    padding: 0.25;
  }
}
