@use "../../styles/variables" as *;

.searchcomponentStyle {
    background-color: $altwhite;
    h2 {
        font-size: $pageHeader;
        font-weight: $regularWeight;
    }
    form {

        input[type="submit"] {
            background-color: $accent;
        }
    }
}