@use '../../styles/variables' as *;

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.navmenuStyle {
  background-color: $accent;
  position: fixed;
  margin-left: 0;
  @extend .flexCol;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  animation: slideIn 0.5s ease-out forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: $altfontstack;

 nav {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
 }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
