@use '../../styles/variables' as *;
.testimonialsStyle {
  background-color: $white;
  font-family: $fontstack;

  article {
    text-align: center;
    margin: 1rem 25%;
    h2 {
      color: $accent;
      font-size: $doubleSize;
    }

    p {
      font-weight: $thin;
    }

    p:last-of-type {
      font-weight: 200;
    }

    @media (max-width: 540px) {
      margin: 1rem 10%;
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    gap: $mediumPadding;
    margin: 1rem 25%;

    .dot {
      background-color: $white;
      border-radius: 300px;
      @include borderValues(1px, #00000066);
      width: 1rem;
      height: 1rem;

      &.active {
        background-color: $accent;
      }
    }
  }
  
}
