@use '../../styles/variables' as *;
.newssectionStyle {
  font-family: $fontstack;
  background-color: $altwhite;
  padding: 2rem;
  display: grid;

  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem 1rem;
    figure {
        width: 80%;
    }

    @media (max-width: 540px) {
        grid-template-columns: repeat(1, 1fr);
        figure {
            width: 80%;
        }
    }
  }
  h2 {
    font-size: $headerText;
  }

  @media (max-width: 540px) {
    height: fit-content;
  }
}
